# This is Git's per-user configuration file.
[includeIf "gitdir:~/dotfiles/**"]
	path = ~/.config/gitconfig/git-personal.conf

[includeIf "gitdir:~/Workspace/codebase/personal/**"]
	path = ~/.config/gitconfig/git-personal.conf

[includeIf "gitdir:~/Workspace/opt/obsidian/**"]
	path = ~/.config/gitconfig/git-personal.conf

[includeIf "gitdir:~/Workspace/codebase/verimi/**"]
	path = ~/.config/gitconfig/git-work.conf

[diff]
	tool = p4merge
[merge]
	tool = p4merge

[mergetool "p4merge"]
	path = /Applications/p4merge.app/Contents/MacOS/p4merge